@font-face {
    font-family: "main";
    src: url(../public/fonts/Roboto/Roboto-Light.ttf);
} 

*{
    box-sizing: border-box;
    font-family: "main";
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5 rem;
    background-color: brown;
}

.logo {
    width: 3.5rem;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vh;
}

.nav__link {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #a0c44b;
    display: flex;
    align-items: center;
    height: 72px;
    border-left: 1px solid white;
    padding: 0 2rem;
    transition: 500ms;
}

.nav__link:last-child {
    border-right: 1px solid white;
}

.nav__link:hover {
    background: rgb(211, 111, 53);
}

.main {
    background-image: url(../public/image/pexels-vlad-chețan-2600222.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-register{
    height: 100vh;
}

.main__poster{
    height: 20rem;
    width: 100%;
}

.main__image{
    height: 99%;
    width: 100%;
}

.title{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #e65f11;
}

.products{
    display: flex;
    flex-wrap: wrap;
}

.product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    width: 33%;
}

.product__img-wrapper{
    height: 70%;
}

.product__img {
    height: 8rem;
    width: 80%;
    margin: 1rem;
}

.product__title {
    font-size: 1rem;
    font-weight: bold;
    color: #faf6f3;
}

.product__description {
    text-align: justify;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid black;
    margin: 1rem;
}

.main-register, .product__img-wrapper, .product__title, .product__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25vh;
    height: 12vh;
}

.form__field {
    display: flex;
    justify-content: space-between;
}

.form__button {
    color: #FFFFFF;
    width: 4rem;
    height: 2rem;
    background: brown;
    border-radius: 0.7rem;
    border: none;
    cursor: pointer;
}

.form__button:active {
    background: orange;
}

.form__button-wrapper {
    display: flex;
    justify-content: center;
}

.form__button {
    width: 5rem;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5 rem;
    background-color: brown;
}

.footer__text, .footer__contacts {
    font-size: 1rem;
    line-height: 4 rem;
    color: #a0c44b;
    display: flex;
    align-items: center;
    height: 3rem;
}